{% extends "base.jinja2" %}
{% block content %}
<div class="box">
  <article class="media">
    <div class="media-left">
      <p class="title">
      {% if location.suburb %}
        {{ location.suburb }}
      {% else %}
        {{ location.city }}
      {% endif %}
      </p>
    </div>
    <div class="table-container">
      <table class="table">
        {% for day in weather.daily %}
          <tr>
            <td>
              {{ day.date }}
            </td>
            <td>
              weather: {{day.weather[0].description}}
            </td>
          </tr>
        {% endfor %}

      </table>
    </div>
  </article>
</div>
{% endblock %}
