{% extends "base.jinja2" %}
{% block content %}
<div class="block">
  <p class="title">Weather API</p>
  <br/>

  <h5 class="subtitle">Intro</h5>
  <p>
  This API uses <a href="https://opencagedata.com/">opencage</a> for forward geocoding to convert city name to geometry,
  then lookup weather info from <a href="https://openweathermap.org/">openweathermap</a>.
  </p>
  <br/>
  <p>
  This has been deployed to heroku for demo: <code>https://calm-cliffs-96037.herokuapp.com/</code>
  </p>
  <br/>
  <br/>

  <h5 class="subtitle">Run the API locally</h5>
  <ol>
    <li><code>cp env.sample .env</code></li>
    <li>add your opencage and openweathermap API keys to <code>.env</code> file</li>
    <li><code>npm install && npm run start:dev</code></li>
  </ol>

  <br />
  <br />

  <h5 class="subtitle">Test</h5>
  <ul>
    <li><code>npm run test</code></li>
    <li>It's written in jest + supertest</li>
  </ul>

  <br />
  <br />
  <h5 class="subtitle">Endpoints</h5>
  <dl>
    <dt><a href="/weather/sydney">/weather/sydney</a></dt>
    <dd>
      This endpoint shows location's weather forecast.
      <br/>
      access json format to get more details with <code>Accept</code> header:
      <br />
      <code>
      curl -H 'Accept: application/json' https://calm-cliffs-96037.herokuapp.com/weather/sydney
      </code>
    </dd>

    <hr/>
    <dt><a href="/weather/sydney/today">/weather/sydney/today</a></dt>
    <dd>
      This endpoint shows location's current weather info.
      <br/>
      access json format to get more details with <code>Accept</code> header:
      <br/>
      <code>
      curl -H 'Accept: application/json' https://calm-cliffs-96037.herokuapp.com/weather/sydney/today
      </code>
    </dd>

    <hr/>

    <dt><a href="/weather/sydney/monday">/weather/sydney/monday</a></dt>
    <dd>
      This endpoint shows location's weekday weather forecast.
      <br/>
      access json format to get more details with <code>Accept</code> header:
      <br/>
      <code>
      curl -H 'Accept: application/json' https://calm-cliffs-96037.herokuapp.com/weather/sydney/monday
      </code>
    </dd>
  </dl>



</div>
{% endblock %}
