{% extends "base.jinja2" %}
{% block content %}
<div class="box">
  <article class="media">
    <div class="media-left">
      <p class="title">{{ name }}</p>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{ weather[0].description }}</strong>
          <br>
          <dl>
            {% for key, value in main %}
              <dt>{{ langs[key] }} </dt>
              <dd>{{ value }}</dd>
            {% endfor %}
          </dl>
        </p>
      </div>
    </div>
  </article>
</div>
{% endblock %}
