{% extends "base.jinja2" %}
{% block content %}
<div class="box">
  <article class="media">
    <div class="media-left">
      <p class="title">
      {% if location.suburb %}
        {{ location.suburb }}
      {% else %}
        {{ location.city }}
      {% endif %}
      </p>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <date>{{ weather.date}}</date>
          <br>
          <strong>{{ weather.weather[0].description }}</strong>
          <br>
          <dl>
            {% for key, value in weather.feels_like %}
              <dt>{{ langs[key] }} </dt>
              <dd>{{ value }} °C</dd>
            {% endfor %}
          </dl>
        </p>
      </div>
    </div>
  </article>
</div>
{% endblock %}
